# modulos de react native
backend/node_modules
node_modules/

# ignorar pruebas mias
/ProbarDirecto.js

.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
